.idea/

# JS stuff
node_modules
node_modules/*
server/node_modules
client/node_modules
browser_test/node_modules

# Artifacts
build
dist
coverage
tmp
screenshots

# Local stuff
.vscode
.DS_STORE
yarn-error.log
.vscode

# Secret stuff
.env

# Data stuff
database/backups
*.sql

.eslintcache

# adminBro stuff
server/.adminbro