version: "3.2"
services:
  server:
    build: ./server
    volumes:
      - ./server:/app
      - productcatalog_server_node_modules:/app/node_modules
    ports:
      - "3333:3333"
    depends_on:
      - db
    environment:
      PORT: 3333
      DB_HOST: db
      DB_NAME: ${DB_NAME}
      DB_PASSWORD: postgres
      NODE_ENV: ${NODE_ENV:-development}
      HOSTNAME: localhost
      ADMIN_EMAIL: test@test.com
      APP_KEY: supersecretsauce
      API_TOKEN: supersecretspicysauce
    env_file: .env
    stdin_open: true
    tty: true
    command: yarn run dev
  db:
    image: postgres:12.2
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ${DB_NAME}
      PGSSLMODE: require
  client:
    build: ./client
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - productcatalog_client_node_modules:/app/node_modules
    depends_on:
      - server
    environment:
      API_TOKEN: supersecretspicysauce
      NODE_ENV: ${NODE_ENV:-development}
    command: yarn run start
  storybook:
    image: productcatalog_client:latest
    volumes:
      - ./client:/app
      - productcatalog_client_node_modules:/app/node_modules
    ports:
      - "3030:3030"
    command: yarn run storybook -h 0.0.0.0 -p 3030 --quiet
  browser_test:
    build: ./browser_test
    depends_on:
      - client
    volumes:
      - ./browser_test:/app
      - /app/node_modules
    # Need to use 'host' network mode to avoid cross-host errors
    # from Webpack server
    network_mode: "host"
volumes:
  productcatalog_server_node_modules:
    external: true
  productcatalog_client_node_modules:
    external: true
