@import "../../styles/config.mixins.scss";
@import "../../styles/config.variables";

.Main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: $gutter-v*4 $gutter-h;
  background-color: $color-grey--1;

  @include break(md) {
    flex-direction: row;
    padding: $gutter-v*10 $gutter-h*2;
  }

  @include break(lg) {
    padding: $gutter-v*10 $gutter-h*6;
  }


  &-content {

    @include break(md) {
      flex-basis: 80%;
      padding-left: $gutter-h*2;
      padding-right: $gutter-h*2;
    }

    @include break(lg) {
      padding-left: $gutter-h*4;
      padding-right: $gutter-h*4;
    }
  }

  &-sidebar {
   flex-basis: 20%;
  }
}
